*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 1rem ;
}

.tittle{
    margin: 2rem 0 ;
    font-size: 1.8rem;
}

.paragraph{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: rgba(233, 21, 21, 0.858);
    
}

.header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content{
    font-size: 2rem;
    color: aliceblue;
}